@import "tailwindcss";


:root {
  --primary:  #262526;
  --secondary:#51A696 ;
  --third:#f2f2f2;
}
.allerta-stencil-regular {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --breakpoint-custom-break:1100px;
}
.custom-radius {
  border-radius: 69% 25% 50% 28% / 58% 25% 65% 25%;
  @apply bg-secondary w-[1200px] h-[1200px] absolute top-0 left-0 ; 
}
/* 


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.banner{
background: url('/lightning.jpg');
background-position: center;
background-size: cover;
}
.overlay{
  @apply bg-black/50 absolute w-full h-full;
}

.main-btn{
  @apply flex items-center text-white gap-2 hover:ring-1 py-2 px-4 bg-secondary rounded-3xl font-bold text-lg;
}
.secondary-btn{
  @apply flex items-center text-secondary gap-2 hover:ring-1 py-2 px-4 bg-white rounded-3xl font-bold text-lg;
}
.product-card{
  @apply ring-gray-400 ring-1 text-white p-5 rounded-xl text-center flex flex-col items-center;
}

.swiper{
  padding: 1 !important;
} 